# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs / temp
*.log
*.tmp

# Python
__pycache__/
*.pyc

# Virtual environments
build_env_mac/
build_env_win/
build_venv_mac/
build_venv_win/
venv/
.env/
build_venv/
build_env/

# PyInstaller
build/
dist/
*.spec.bak
