# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs / temp
*.log
*.tmp

# Python
__pycache__/
*.pyc

# Virtual environments
build_env*
build_env*/**
build_venv*
build_venv*/**
venv/
.env/

# Binaries / bundles
*.exe
*.app
*.app/**

# PyInstaller
build/
_internal/
_Internal/
dist/
dist*
dist*/**
*.spec.bak
